* {
  font-family: Arial;
}
body{
  background-color: #1F2039;
  display: flex;
}

main{
  margin: auto;
}
h2{
  text-align: center;
  color:white;
}
/* Un bouton classique. */
.btn {
  width: 200px;
  padding: 15px;
  border: none;
  background: #48D1CC;
  color: #242424;
}

/* Un bouton classique mais avec des angles ronds. */
.btn-round {
  border-radius: 30px;
}

/* Un bouton classique mais plus large. */
.btn-wide {
  width: 400px;
}

/* Un bouton classique mais avec une couleur de fond orange. */
.btn-orange {
  background-color: #e67e22;
}