* {
  font-family: Arial;
}
body{
  background-color: #1F2039;
  display: flex;
}

main{
  margin: auto;
}
h2{
  text-align: center;
  color:white;
}
.turquoise {
  padding: 15px;
  border: none;
  width: 100px;
  background: #48D1CC;
  color: #242424;
}
.turquoise-round {
  padding: 15px;
  border: none;
  width: 100px;
  background: #48D1CC;
  color: #242424;
  border-radius: 30px;
}
.wide {
  padding: 15px;
  border: none;
  background: #48D1CC;
  color: #242424;
  width: 200px;
}
.orange-round {
  padding: 15px;
  border: none;
  border-radius: 30px;
  width: 100px;
  background: #e67e22;
  color: #242424;
}